<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Presentations</key>
	<array>
		<dict>
			<key>Name</key>
			<string>1. Intro to Biblical Interpretation (22:03)</string>
			<key>URL</key>
			<string>https://player.vimeo.com/external/132173314.hd.mp4?s=4db058080243fb8aa61a88b9774f8ebf&amp;profile_id=119</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>2. Genesis and Evolution (30:55)</string>
			<key>URL</key>
			<string>https://player.vimeo.com/external/161652214.hd.mp4?s=a2ff45f10124209ace84ce6dac56ca6f28c99e6d&amp;profile_id=174</string>
		</dict>
	</array>
	<key>Interviews</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Fr. Thomas Guarino, S.T.D. (pending)</string>
			<key>URL</key>
			<string>https://vimeo.com/35972542</string>
		</dict>
	</array>
</dict>
</plist>
