<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Science</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Science and Religion</string>
			<key>URL</key>
			<string>http://washtheocon.org/resources/using-science-pastoral-ministry/</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>National Academy of Sciences</string>
			<key>URL</key>
			<string>http://www.nasonline.org</string>
		</dict>
	</array>
	<key>Scripture</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Biblical Archeology Review</string>
			<key>URL</key>
			<string>http://www.biblicalarchaeology.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Oxford Biblical Studies</string>
			<key>URL</key>
			<string>http://www.oxfordbiblicalstudies.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Biblical Texts</string>
			<key>URL</key>
			<string>http://www.bible.com</string>
		</dict>
	</array>
	<key>Magisterium</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Vatican</string>
			<key>URL</key>
			<string>http://www.vatican.va</string>
		</dict>
	</array>
</dict>
</plist>
