<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creeds</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Creeds</string>
			<key>URL</key>
			<string>http://www.vatican.va/archive/ccc_css/archive/catechism/credo.htm</string>
		</dict>
	</array>
	<key>Fathers</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Apostolic Fathers (Greek)</string>
			<key>URL</key>
			<string>http://www.ccel.org/l/lake/fathers/toc.htm</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Early Church Fathers</string>
			<key>URL</key>
			<string>http://www.tertullian.org/fathers2/</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>North American Patristics Society</string>
			<key>URL</key>
			<string>http://patristics.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Church Fathers (topical)</string>
			<key>URL</key>
			<string>http://www.churchfathers.org</string>
		</dict>
	</array>
	<key>Philosophy</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Stanford Encyclopedia of Philosophy</string>
			<key>URL</key>
			<string>http://plato.stanford.edu</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Internet Encyclopedia of Philosophy</string>
			<key>URL</key>
			<string>http://www.iep.utm.edu</string>
		</dict>
	</array>
	<key>Economy</key>
	<array>
		<dict>
			<key>Name</key>
			<string>The Economist</string>
			<key>URL</key>
			<string>http://www.economist.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bureau of Economic Analysis</string>
			<key>URL</key>
			<string>http://www.bea.gov</string>
		</dict>
	</array>
	<key>Politics</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Pontifical Council for Justice and Peace</string>
			<key>URL</key>
			<string>http://www.vatican.va/roman_curia/pontifical_councils/justpeace/index.htm</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>United Nations</string>
			<key>URL</key>
			<string>http://www.un.org/en/</string>
		</dict>
	</array>
	<key>Magisterium</key>
	<array>
		<dict>
			<key>Name</key>
			<string>The Vatican</string>
			<key>URL</key>
			<string>http://w2.vatican.va/content/francesco/en.html</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>The New Encyclical: Laudito Si&apos;</string>
			<key>URL</key>
			<string>http://w2.vatican.va/content/francesco/en/encyclicals/documents/papa-francesco_20150524_enciclica-laudato-si.html</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Modern Popes</string>
			<key>URL</key>
			<string>http://www.vatican.va/holy_father/index.htm</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Papal Encyclicals Online</string>
			<key>URL</key>
			<string>http://www.papalencyclicals.net</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Catechism of the Catholic Church</string>
			<key>URL</key>
			<string>http://www.vatican.va/archive/ENG0015/_INDEX.HTM</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vatican YouTube</string>
			<key>URL</key>
			<string>https://www.youtube.com/user/vatican</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bishops: England &amp; Wales</string>
			<key>URL</key>
			<string>http://www.cbcew.org.uk</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bishops: Canada</string>
			<key>URL</key>
			<string>http://www.cccb.ca/site/eng/</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bishops: Australia</string>
			<key>URL</key>
			<string>https://www.catholic.org.au</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bishops: United States</string>
			<key>URL</key>
			<string>http://www.usccb.org</string>
		</dict>
	</array>
	<key>Scripture</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Pontifical Biblical Commission</string>
			<key>URL</key>
			<string>http://www.vatican.va/roman_curia/congregations/cfaith/pcb_index.htm</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Biblica </string>
			<key>URL</key>
			<string>http://www.bsw.org/project/biblica</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>English Bibles</string>
			<key>URL</key>
			<string>https://www.bible.com/bible/463/gen.1.nabre</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Greek NT</string>
			<key>URL</key>
			<string>http://biblia.com/books/sblgnt/Jn1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>NT Gateway</string>
			<key>URL</key>
			<string>http://www.ntgateway.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Codex Sinaiticus</string>
			<key>URL</key>
			<string>http://www.codexsinaiticus.org/en/</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Society of Biblical Literature</string>
			<key>URL</key>
			<string>http://www.sbl-site.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Michael Fallon Resource Site</string>
			<key>URL</key>
			<string>http://tinyurl.com/oefpuf6</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Felix Just Resource Site</string>
			<key>URL</key>
			<string>http://catholic-resources.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>BibleHub</string>
			<key>URL</key>
			<string>http://biblehub.com</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>http://www.bibleinterp.com/index.shtml</string>
			<key>Name</key>
			<string>The Bible and Interpretation</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Biblical Archeology Review</string>
			<key>URL</key>
			<string>http://www.biblicalarchaeology.org</string>
		</dict>
	</array>
	<key>Councils</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Vatican II Analysis</string>
			<key>URL</key>
			<string>http://www.vatican2voice.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vatican II Documents</string>
			<key>URL</key>
			<string>http://www.vatican.va/archive/hist_councils/ii_vatican_council/index.htm</string>
		</dict>
	</array>
	<key>Liturgy</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Universalis</string>
			<key>URL</key>
			<string>http://www.universalis.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>North American Academy of Liturgy</string>
			<key>URL</key>
			<string>http://www.naal-liturgy.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Notre Dame Center for Liturgy</string>
			<key>URL</key>
			<string>http://liturgy.nd.edu</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cantus</string>
			<key>URL</key>
			<string>http://cantus.uwaterloo.ca</string>
		</dict>
	</array>
	<key>Theology</key>
	<array>
		<dict>
			<key>Name</key>
			<string>International Theological Commission</string>
			<key>URL</key>
			<string>http://www.vatican.va/roman_curia/congregations/cfaith/cti_index.htm</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Summa Theologica</string>
			<key>URL</key>
			<string>http://www.summatheologica.info</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Theological Studies</string>
			<key>URL</key>
			<string>http://theologicalstudies.net/readers/download-past-articles/</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Thinking Faith</string>
			<key>URL</key>
			<string>http://www.thinkingfaith.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Journal of Moral Theology</string>
			<key>URL</key>
			<string>http://cdm.msmary.edu:2011/cdm/search/collection/JMT/searchterm/*/order/nosort</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Encyclopedia of Religion and Science</string>
			<key>URL</key>
			<string>http://inters.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>The Center for Theology and Science</string>
			<key>URL</key>
			<string>http://www.ctns.org/index.html</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Atom + Eve Project</string>
			<key>URL</key>
			<string>http://washtheocon.org/resources/using-science-pastoral-ministry/</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Catholic Climate Movement</string>
			<key>URL</key>
			<string>http://catholicclimatemovement.global</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Catholic Climate Covenant</string>
			<key>URL</key>
			<string>http://catholicclimatecovenant.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>National Catholic Bioethics Center</string>
			<key>URL</key>
			<string>http://ncbcenter.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Catholic Moral Theology</string>
			<key>URL</key>
			<string>http://catholicmoraltheology.com</string>
		</dict>
	</array>
	<key>Science</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Pontifical Academy of Sciences</string>
			<key>URL</key>
			<string>http://www.casinapioiv.va/content/accademia/en.html</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vatican Observatory</string>
			<key>URL</key>
			<string>http://www.vaticanobservatory.va/content/specolavaticana/en.html</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>National Snow &amp; Ice Data Center</string>
			<key>URL</key>
			<string>http://nsidc.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>World Resources Institute</string>
			<key>URL</key>
			<string>http://www.wri.org</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>U.S. Environmental Protection Agency</string>
			<key>URL</key>
			<string>http://m.epa.gov</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>National Science Foundation</string>
			<key>URL</key>
			<string>http://www.nsf.gov</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>U.N. Environment Program</string>
			<key>URL</key>
			<string>http://www.unep.org</string>
		</dict>
	</array>
	<key>Arts</key>
	<array>
		<dict>
			<key>Name</key>
			<string>National Endowment for the Arts</string>
			<key>URL</key>
			<string>http://arts.gov</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pontifical Council for Culture</string>
			<key>URL</key>
			<string>http://www.cultura.va/content/cultura/en.html</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vatican Museum</string>
			<key>URL</key>
			<string>http://mv.vatican.va/3_EN/pages/MV_Visite.html</string>
		</dict>
	</array>
	<key>Technology</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Ars Technica</string>
			<key>URL</key>
			<string>http://arstechnica.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Wired</string>
			<key>URL</key>
			<string>http://www.wired.com</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>AppleInsider</string>
			<key>URL</key>
			<string>http://www.appleinsider.com</string>
		</dict>
	</array>
</dict>
</plist>
